@font-face {
    font-family: "PT Sans";
    src: url(PT_Sans.ttf) format("truetype");
}

html {
    background-color:96979b;
}

body {
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.2em;
    margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
    align-self:center;
    vertical-align:top;
    width:800px;
    min-height:600px;
    color: #333333;
    background-color: grey;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
	background-repeat:no-repeat;
	text-shadow: 1px 1px black;
}

.practice {
	background-color:442a0e;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em
}

h1 {
    font-size: 28px;
}

a {
    color:white;
    text-decoration:none
}

a.black {
    color: black;
}

a.menu:hover {
    color:black;  
    cursor:hand
}

a.active {
    cursor:default; 
    font-weight:600
}

a.progs {
    text-decoration:underline
}

img
{
    border: 0px;
    padding: 0px;
}

table {
    border: 0px solid;
    width:100%;
    color:white;
    border-collapse:collapse;
    text-align:left;
}

td {
    padding: 15px;
}

td.menu {
    width:149px;
    border:0px solid;    
}

p.text {
    text-align:left;
    text-indent:15pt;
}

p.long {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
    text-align:justify;
    text-indent:15pt;
    margin:0;
}
