body {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 30px;
	font-family: 'PT Serif';
}
select.search_param {
	width: 150px;
}
label.search_param_label {
	display: inline-block;
	width: 130px;
}
span.fragment {
	font-weight: bold;
}
div#loader{
	display: block;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	height: 100%;
	text-align: left;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
hr {
	border: 0;
	border-bottom: 1px solid black;
}
table.statistics {
	border: 1px dotted black;
	margin-top: 20px;
	margin-bottom: 20px;
	border-collapse: collapse;
}
table.statistics td {
	padding: 5px;
	border: 0;
}
table.statistics th {
	padding: 10px;
}
table.statistics tr:nth-child(even) {
	background-color: Lightgrey;
}
a.text_info {
	color:  Brown;
}
a.text_info:visited {
	color:  Brown;
}

p {
	margin-bottom: 5px;
}

.subtitle {
	font-weight: bold;
}

.checkBoxArea {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    -moz-column-count: 4; /* Firefox */
    column-count: 4;
    border: 1px dotted gray;
    padding: 2px;
}

input[disabled] {
	outline:1px solid red;
}

div.examples {
	display: none;
	position: absolute;
	top: 10%;
	left: 10%;
	height: 600px;
	width: 371px;
	padding: 10px;
	border: 1px solid black;
	overflow-y: scroll;
	z-index:1002;
	background-color: white;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
}