TABLE {
	border : 1px;
}
         BODY	{	background-color: #FFFFFF;
			font-family: Arial;
                        

	

					}
table	{	font-size: small;			}

a {color:blue;text-decoration:none}
a:hover{color:navy;text-decoration:none}
H1,H2,H3,H4,H5 {
	color: #088029;
Line-height: 25px;
}
.butt {
	border : thin outset ;
		
	background : #F5F5F5;
}
.leftmenu{
font-weight: bold;	

}
.leftmenu a {
	font-size: smaller;		
	color: White;
}
.leftmenu a:hover{
		font-size: smaller;		
	color: White;
	text-decoration:underline;
}
.text{
	text-align : justify;
	letter-spacing : inherit;
Line-height: 25px;
}
P {
Line-height: 25px;
}
