BODY
{
	FONT-SIZE: 10pt;
	BACKGROUND: #F5DEB3;
	MARGIN: 0px;
	FONT-FAMILY: Arial, Serif;
}
.topmenu{
	background-color: #FA8072;
	font-weight: bolder;
	color: White;
	font-size: 18px;
	padding: 3px;
}
.leftmenu {
	background-color: #0082FF;
	color: White;
	font-size:  14px;
	 font-weight: bolder;
}
.leftmenulist ul li{
	list-style: none;
	margin-left: 0px;
}
.text{
	font-size: smaller;
	
}
.leftmenu a {

	color: White;
	font-size:  14px;
	font-weight: bolder;
	text-decoration: none;
	 
}