BODY { font-family:Verdana; 
	margin:0px; }
     .instructions {
	font-size:.75em;
	color: Teal;
	margin-left:.5em;
	list-style : none;
	list-style-type : none;
	font-weight : bolder;
}
     .headline {
	background-color: #F5F5F5;
	color: Blue;
	font-family:Arial, sans-serif;
	font-size:14pt;
	text-align:center;
	padding-top:1em;
	list-style-type : none;
}
     .group { font-family:Arial, sans-serif; 
	font-size:12pt; 
	margin-top:.5em; 
	text-align: right;
        margin-bottom:.5em; }
     .button { font-family:Verdana, sans-serif; 
	font-size:10pt; 
	font-weight:bold; 
	text-align:right;
        color:gray; 
	cursor:hand; }
     .arrow { font-family:; }
     .button a:link,a:visited	{text-decoration: none;
		color: gray;}
     .button a:hover	{color: red;}