BODY {
	background-color : White;
	margin-top : 0px;
	margin-left : 0px;
	
}

IMG {
	border : none;
}

.top{
	background-color :whitesmoke ;
	font-size : smaller;
	font-family : Arial;
	color : darkblue;
	text-align : center;
}
.ch{
	color : White;
}
.pers {
	color : darkblue;
	font-family : Arial;
	text-decoration : inherit;
	text-align : left;
}
 .thin{
	font-family : Arial;
	font-size : x-small;
}
A {
	font-size : smaller;
	font-family : Arial;
}

a:link {
	text-decoration:none;
	color:darkblue;
	text-align : center;
}
a:visited {text-decoration:none; color:darkblue}

a:hover {color:#CC3300}
H1, H2, H3, H4, H5, H6 {color:darkblue}
.mainmenu {
	background-color: whitesmoke;
}

.mitem{
	font-weight : bold;
	font : Arial;
	color : darkblue;
}

.leftmenu{
	background-color :whitesmoke ;
	font-size : smaller;
	font-family : Arial;
	color : darkblue;
}
.lenta  {background-color:silver;font-weight:bold;font-family:Times New Roman;
	
}
.red{
	color: red;
font-size : smaller;
	font-family : Arial;
}
span.c12 {font-family: arial; font-size: smaller}
 div.c11 {font-family: arial; font-size: smaller; text-align: center}
 td.c10 {background-color:white}


 p.c7 {text-align: justify}
 span.c6 {color: darkblue; font-size: smaller}

 div.c4 {color: red; font-weight: bold; text-align: center}

 a.c2 {font-style: italic}

 .u{
	text-decoration : underline;
}
.center{
	text-align : center;
}
.right{
	text-align: right;
}
ul .au  {
	text-decoration : underline;
	font-family : Arial;
	font-size: smaller;
	color : darkblue;
	font-weight : bolder;
}
.ar{
	font-family: Arial;
		font-size : smaller;
}