html {
	background-color: Beige;
}

body {
	font-family: PT Serif, Georgia, serif;
	font-size: 12pt;
	margin: 0 auto;
	padding: 20px;
	padding-top: 0px;
	max-width: 1024px;
	background-color: White;
	border-radius: 10px;
}

.collapsibleList li {
  cursor:auto;
}

li.collapsibleListOpen {
  cursor:pointer;
}

li.collapsibleListClosed {
  cursor:pointer;
}

li.tag_type {
	font-style: italic;
	font-size: 0.9em;
}

li.tag {
	font-style: normal;
}

ul {
    padding-left: 1.7em;
    line-height: 1.5;
    margin-top: 8px;
}

li {
    list-style-type: none;
    padding: 1px;
}

li ul {
	margin-top: 3px;
}

a.example {
	font-size: 0.8em;
}

h1 {
	font-size: 20pt;
	text-align: left;
	padding: 0;
	padding-top: 10px;
	margin-bottom: 10px;
	text-align: center;
	font-weight: normal;
}

h2 {
	font-size: 14pt;
	margin-bottom: 0;
	padding: 0;
	font-variant: small-caps;
	font-weight: normal;
}

div.title {
	max-width: 1024px;
	padding-bottom: 0;
}

div#menu {
	text-align: center;
	font-size: 14pt;
	/*background-color: Beige;*/
	margin: 0;
	padding-top: 7px;
}

div#menu a {
	text-decoration: none;
	color: black;
	font-size: 14pt;
}

div#menu a:hover {
	text-decoration: underline;
}

div#menu p {
	margin: 5px;
	display: inline-block;
	padding: 5px;
	padding-left: 8px;
	padding-right: 7px;
	/*background-color: Beige;*/
	border-top: 1px dotted black;
	border-bottom: 1px dotted black;
}