BODY {
	background: white; color: silver;
}

H1 {
	font-family: PT Serif, Georgia, Serif;
	font-size: 2em;
	padding-top: 0;
	line-height: 100%;
	margin: 0.5em;
}

H3 {
	font-family: PT Serif, Georgia, Serif;
	font-size: 1em;
	font-style: italic;
	text-indent: 50px;
	font-weight: normal; 
}

DIV#main P {
	font-family: PT Serif, Georgia, Serif;
	text-indent: 30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: justify;
}

DIV#header {
	padding-top: 0;
	position: fixed; 
	top: 0; 
	bottom: 0; 
	left: 10em; 
	right: 0; 
	background: gray; 
	margin-bottom: 1px; 
	color: white;
	text-align: center;
	overflow: auto;
}

DIV#sidebar {
	position: fixed; 
	top: 6em; 
	bottom: 0; 
	left: 0; 
	right: 0; 
	background: silver; 
	margin-right: 1px; 
	color: white;
	padding-left: 15px;
	padding-top: 7px;
}

DIV#sidebar a {
	text-decoration: none;
	color: white;
	font-size: 1em;
	font-family: PT Serif, Georgia, Serif;
}

DIV#sidebar a:hover {
	color: gray;
}

DIV#main {
	position: absolute; 
	top: 6em; 
	bottom: 0; 
	left: 10em; 
	right: 0; 
	overflow: scroll; 
	background: white; 
	color: black;
}

DIV#photo {
	position: relative;
	float: right;
	margin: 15px;
}

DIV#main P.signature {
	text-align: right;
	font-style: italic;
	padding-bottom: 10px;
	border-bottom: solid 1px;
}