BODY {
	background-color : White;
	margin-top : 10px;
	margin-left : 10px;
	
}

IMG {
	border : none;
}



a:link {
	text-decoration:none;
	color : #00008B;
	text-align : center;
}
a:visited {text-decoration:none; color:#00008B;}

a:hover {color:#CC3300}
H1, H2, H3, H4, H5, H6 {color:#00008B; text-align:center}
.maintable {background-color:whitesmoke}
.maintable td {background-color:White}
p {text-align : justify;}