div.object_report p {
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 5px;
}

div#keyword_div {
	position: fixed;
	display: none;
	background: white;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	width: 550px;
	font-size: 10pt;
	font-family: sans-serif;
	line-height: 1.2em;
}

.record {
	margin: 10px;
	padding: 5px;
	border: 1px dotted black;
	border-radius: 10px;
}

label.option_label {
	display: inline-block;
	min-width: 185px;
}

label#keywords_label {
	text-decoration: underline;
	cursor: pointer;
}

p.keyword_list {
	margin: 0;
	padding: 0;
}

.searchHit {
	color: red;
}