BODY {
    font-family: PT Serif, Georgia, Serif;
    padding: 0;
    overflow: hidden;
}

A {
    text-decoration: none;
    color: white;
}

A:hover {
    text-decoration: underline;
}

P.footnote A {
    text-decoration: underline;
}

DIV#header {
    min-width: 740px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 4em;
    background-color: gray;
    text-align: center;
    color: white;
    overflow: 
}

DIV#header H1 {
    margin-top: .3em;
    white-space: nowrap;
}

DIV#canvas {
    margin: 0;
    top: 4em;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: silver;
    overflow: hidden;
}

NAV {
    position: fixed;
    top: 25%;
    left: -7em;
    width: 7.5em;
    height: 500px;
    background-color: gray;
    z-index: 1;
    border-radius: 10px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

UL {
    padding-left: 1.7em;
}

LI {
    list-style-type: none;
}

NAV:hover {
    left: -1em;
}

DIV#footer {
    min-width: 740px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 35px;
    background-color: gray;
    color: white;
}

P.footnote {
    text-align: right;
    font-style: italic;
    margin: 5px;
    margin-right: 15px;
    white-space: nowrap;
}

DIV#menu_button {
    position: absolute;
    top: 40%;
    left: 91%;
    background-color: gray;
    border-radius: 10px;
    color: white;
    padding: 2px;
    padding-left: 0;
    padding-right: 0;
    font-weight: bold;
    vertical-align: middle;
}

DIV#menu_button P {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}