﻿
<html><head><link rel="stylesheet" type="text/css" href="style.css"><meta content="text/html; charset=windows-1251"><title>Указатель африканских мифологических сюжетов и мотивов: электронная версия</title>
<script type="text/javascript">{}e{}e  var _gaq = _gaq || [];{}e  _gaq.push(['_setAccount', 'UA-321053-1']);{}e  _gaq.push(['_trackPageview']);{}e{}e  (function() {{}e    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;{}e    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';{}e    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);{}e  })();{}e{}e</script></head><body>
<br>Если вы заметили ошибку, пишите <a href="mailto:nik.vik.petrov@gmail.com">nik.vik.petrov@gmail.com
</a> <br><br>
<h4 style="text-align: left; margin-top:0; margin-bottom:0">Елена Котляр</h4> <br>
<h4 style="text-align: left; margin-top:0; margin-bottom:0"> Указатель африканских мифологических сюжетов и мотивов</span></h3>
<h4 style="text-align: left; margin-top:0; margin-bottom:0">&nbsp;</h4>
<div align="left">
	<p style="margin-top: 0; margin-bottom: 0">
	<a target="right"  target="right" href="intro.htm" target="right">Введение</a><br><a target="right"  <br>
	<a target="right"  href="motifs.htm" target="right">Список мотивов</a><br><a target="right"  href="vocabulary.htm" target="right">Словарь</a>
<br><a target="right" target="right" target="right" href="biblio.htm"> Библиография</a><br><a target="right" target="right" target="right" href="ethn&geogr.htm"> Этносы и география</a></div> 
<br>
	
	

<p align="left" style="margin-top: 0; margin-bottom: 0">
<div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'поиск по указателю','suggest':true,'target':'_blank','tld':'ru','type':2,'usebigdictionary':true,'searchid':2251196,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'поиск по указателю','input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}"><form action="https://yandex.ru/search/site/" method="get" target="_blank"><input type="hidden" name="searchid" value="2251196"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value=""/><input type="search" name="text" value=""/><input type="submit" value="Найти"/></form></div><style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
</p>



<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
h3 { cursor:pointer;}
</style>
</head>
<body>


<div class="box">
    
    <br>
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>  I. СОТВОРЕНИЕ И УСТРОЙСТВО МИРА, СОЗДАНИЕ ЛЮДЕЙ (№ 1–356) </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="1-77.htm">Сотворение мира (№ 1–77)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="78-122.htm">Происхождение небесных тел и явлений (№ 78–122)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="123-179.htm">Происхождение первого человека (№ 123–179)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="180-194.htm">Происхождение рас, народов и племен (№ 180–194)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="195-223.htm">Происхождение животных (№ 195–223)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="224-237.htm">Происхождение домашних животных (№ 224–237)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="238-261.htm">Происхождение растений и земледелия (№ 238–261)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="262-296.htm">Происхождение огня (№ 262–296)</a></li>
		<li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="297-307.htm">Происхождение рельефа (№ 297–307)</a></li>
		<li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="308-327.htm">Происхождение воды и водоемов (№ 308–327)</a></li>
		<li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="328-356.htm">Происхождение обычаев, установлений, занятий племен, ремесел, социальных различий (№ 328–356)</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>II. ПРОИСХОЖДЕНИЕ СМЕРТИ (№ 357–507)[Mot. A1335. Origin of death] </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="357-375.htm">Двое посыльных с противоположным сообщением (о вечной жизни и о смерти) (№ 357–375)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="376-386.htm">Спор о смерти или вечной жизни (№ 376–386)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="387-421.htm">Причина появления смерти – нарушение запрета бога (№ 387–421)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="422-435.htm">Выбор между жизнью и смертью (№ 422–435)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="436-449.htm">Смерть в наказание за проступок (№ 436–449)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="450-470.htm">Смерть из-за разногласий в первой семье о необходимости воскрешения (№ 450–470)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="471-483.htm">Духи предков и “нижний мир” (№ 471–483)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="484-488.htm">Смерть в наказание людям за игры в похороны, несерьезное отношение к смерти и шутовство (№ 484–488)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="489-505.htm">Персонификация смерти (№ 489–505)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="506-507.htm">Притчи (№ 506–507)</a></li>
    </ul>
</div>

<br>

<script>
$(document).ready(function(){
$("ul").hide();
$("h3 span").click(function(){
$(this).parent().next().slideToggle();
});
}); 
</script>
</body>
</html>



</body></html>