﻿
<html><head><link rel="stylesheet" type="text/css" href="style.css"><meta content="text/html; charset=windows-1251"><title>Указатель мотивов финской мифологической прозы: электронная версия</title>
<script type="text/javascript">{}e{}e  var _gaq = _gaq || [];{}e  _gaq.push(['_setAccount', 'UA-321053-1']);{}e  _gaq.push(['_trackPageview']);{}e{}e  (function() {{}e    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;{}e    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';{}e    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);{}e  })();{}e{}e</script></head><body>
<br>Если вы заметили ошибку, пишите <a href="mailto:nik.vik.petrov@gmail.com">nik.vik.petrov@gmail.com
</a> <br><br>
<h4 style="text-align: left; margin-top:0; margin-bottom:0">Лаури Симонсуури</h4> <br>
<h4 style="text-align: left; margin-top:0; margin-bottom:0"> Указатель типов и мотивов финской мифологической прозы</h3>
<h4 style="text-align: left; margin-top:0; margin-bottom:0">&nbsp;</h4>
<div align="left">
	<p style="margin-top: 0; margin-bottom: 0">
	<a target="right"  target="right" href="intro.htm" target="right">Введение</a><br><a target="right"  <br><a target="right"  href="areas.htm" target="right">Регионы</a>
	<br><a target="right"  href="simonsuuri_map_ger1.jpg" target="right">Карта 1</a><br><a target="right"  href="simonsuuri_map_ger2.jpg" target="right">Карта 2</a>
<br><a target="right"  href="simonsuuri_map_rus.jpg" target="right">Карта 3</a><br><a target="right" target="right" target="right" href="biblio.htm">
	Библиография</a></div> 
<br>
	<div class="ya-site-form ya-site-form_inited_no" onclick="return {'action':'https://yandex.ru/search/site/','arrow':false,'bg':'transparent','fontsize':12,'fg':'#000000','language':'ru','logo':'rb','publicname':'Yandex Site Search #2251232','suggest':true,'target':'_blank','tld':'ru','type':2,'usebigdictionary':true,'searchid':2251232,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'','input_placeholderColor':'#000000','input_borderColor':'#7f9db9'}"><form action="https://yandex.ru/search/site/" method="get" target="_blank"><input type="hidden" name="searchid" value="2251232"/><input type="hidden" name="l10n" value="ru"/><input type="hidden" name="reqenc" value=""/><input type="search" name="text" value=""/><input type="submit" value="Найти"/></form></div><style type="text/css">.ya-page_js_yes .ya-site-form_inited_no { display: none; }</style><script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>
	




<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style>
h3 { cursor:pointer;}
</style>
</head>
<body>


<div class="box">
    
    <br>
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>  А. ПРЕДЗНАМЕНОВАНИЯ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right" href="a1-100.htm">А 001 - 100 Двойник, дух человека</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right"  href="a101-200.htm">А 101 - 200 Антропоморфное существо как предзнаменование</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right" href="a201-300.htm">А 201 - 300 Животное как предзнаменование</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right"  href="a301-400.htm">А 301 - 400 Видения, происшествие как предзнаменование</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right"  href="a401-600.htm">А 401 - 600 Голоса, звуки как предзнаменования</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right" href="a601-700.htm">А 601 - 700 Знамения в предпраздничные ночи</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right" href="a701-800.htm">А 701 - 800 От предсказанной судьбы не уйдешь</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0">
		<a target="right" href="a801-900.htm">A 801 - 900 Сон как предзнаменование</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>В. ПРИВИДЕНИЯ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"> <a target="right" href="b1-100.htm">B 001 - 100 Привидения в человеческом облике</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="b101-200.htm">B 101 - 200 Явление, событие</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="b201-300.htm">В 201 - 300 Голоса, звуки</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="b301-400.htm">В 301 - 400 Привидения в зданиях</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="b401-500.htm">B 401 - 500 Привидения на местности</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="b501-600.htm">В 501 - 600 Естественно объясняемое "привидение"</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>С. СМЕРТЬ, МЕРТВЫЕ, КАЛМА </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1-100.htm">С 001 - 100 Смертный час</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c101-200.htm">С 101 - 200 Труп на скамье для покойника</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c201-300.htm">С 201 - 300 Погребение трупов</a></li>
<p align="left" style="margin-top: 0; margin-bottom: 0"><strong>С 301 - 500 Возвращающийся бродящий по дому
        </strong>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c301-400.htm">С 301 - 400 Грешник, бродящий по дому</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c401-470.htm">С 401 - 470 Невинные возвращающиеся</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c471-500.htm">С 471 - 500 Другие возвращающиеся</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c501-600.htm">С 501 - 600 Ленора (AT 365)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c601-700.htm">С 601 - 700 Место убийства, смерти, казни, погребения</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c7-8.htm">С 701 - 800 Убитый</a></li>        
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c801-900.htm">С 801 - 900 Безвинно казненный</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c901-1000.htm">С 901 - 1000 Убитый ребенок, умерший ребенок</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1001-1100.htm">С 1001 - 1100 Неприкаянные души</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1101-1300.htm">С 1101 - 1300 Насмешник, нарушитель покоя на кладбище</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1301-1400.htm">С 1301 - 1400 Ночью в церкви</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1401-1500.htm">С 1401 - 1500 Нетленный труп</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1501-1600.htm">С 1501 - 1600 Духи</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1601-1700.htm">С 1601 - 1700 Пристающая смертная сила, калма (kalma)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1701-1900.htm">С 1701 - 1900 Вяки (V&auml;ki)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="c1901-2000.htm">С 1901 - 2000 Мнимые мертвецы</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>D. КОЛДУНЫ. ВЕДЬМЫ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1-200.htm">D 001 - 200 Колдуны и колдовские средства</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d201-300.htm">D 201 - 300 Доказательство искусства колдуна</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d301-400.htm">D 301 - 400 Колдун имеет власть над смертными силами</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d401-500.htm">D 401 - 500 Колдун управляет чертом</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d501-600.htm">D 501 - 600 Знаменитые нардные знахари, предсказатели, колдуны</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d601-800.htm">D 601 - 800 Благодетель, лекарь, помощник</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d801-1000.htm">D 801 - 1000 Злодей, завистник, мститель</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1001-1100.htm">D 1001 - 1100 Оборотень</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1101-1200.htm">D 1101 - 1200 Черный бык</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1201-1300.htm">D 1201 - 1300 Колдун в образе птицы</a></li>
	    <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1301-1400.htm">D 1301 - 1400 Колдун верхом летит, едет</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1401-1500.htm">D 1401 - 1500 Пророк страшного суда, пророк конца света</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1501-1600.htm">D 1501 - 1600 Прорицатель будущих событий </a> </li>
	    <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1601-1700.htm">D 1601 - 1700 Фокусник, шут </a> </li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="d1701-1900.htm">D 1701 - 1900 Ведьмы </a> </li>

    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>Е. ЧЕРТ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1-100.htm">E 001 - 100 Черт в народных верованиях </a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e101-200.htm">E 101 - 200 Черт, злой дух появляется</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e201-500.htm">Е 201 - 500 Черт-моралист</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e501-600.htm">E 501 - 600 Договор с чертом</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e601-700.htm">E 601 - 700 Полтергейст (poltergeist), черт в качестве полтергейста, духа-мучителя</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e701-800.htm">E 701 - 800 Взятый чертом</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e801-900.htm">E 801 - 900 Мертвец во власти черта</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e901-1000.htm">E 901 - 1000 Подмененный ребенок</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1001-1100.htm">E 1000 - 1100 Черт-помощник</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1101-1200.htm">E 1101 - 1200 Черт в повозке</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1201-1300.htm">E 1201 - 1300 Черт в церкви</a></li>        
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1301-1400.htm">E 1301 - 1400 Черт и Фауст</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1401-1500.htm">E 1401 - 1500 Черт и гром</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="e1501-1600.htm">E 1501 - 1600 Стаало, Стаалу, лапландский черт-великан</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>F. ТАБУ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="f1-100.htm">F 001 - 100 Нарушитель воскресного покоя</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="f101-200.htm">F 101 - 200 Богохульник, осквернитель церкви</a></li>
		<li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="f201-300.htm">F 201 - 300 Совершение поступка, который считается в народных верованиях грехом</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="f301-400.htm">F 301 - 400 Хулитель сил природы</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="f401-500.htm">F 401 - 500 Мучитель животных</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>G. МЕСТНЫЕ ДУХИ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1-100.htm">G 001 - 100 Дух земли. Дух определенного места</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g101-300.htm">G 101 - 300 Духи дома</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g301-400.htm"> 301 - 400 Дух хлева</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g401-500.htm">G 401 - 500 Дух бани</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g501-600.htm">G 501 - 600 Дух риги, "хозяин" риги</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g601-700.htm">G 601 - 700 Дух лесной бани, смолокурни</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g701-800.htm">G 701 - 800 Дух замка</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g801-900.htm">G 801 - 900 Дух мельницы</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g901-1000.htm">G 901 - 1000 Дух кузницы, лесопильни, мастерских</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1001-1100.htm">G 1001 - 1100 "Хозяин" судна, дух корабля</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1101-1200.htm">G 1001 - 1200 Дух огня, огонь</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1201-1300.htm">G 1201 - 1300 Смерть Великого Пана</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1301-1400.htm">G 1301 - 1400 Духов кормят, духам жертвуют</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1401-1500.htm">G 1401 - 1500 Животные-духи</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1501-1600.htm">G 1501 - 1600 Ребенок и змея (АТ 285)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1601-1700.htm">G 1601 - 1700 "Ты видел когда-либо больший рот?"</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1701-1800.htm">G 1701 - 1800 Полифем (AT 1135 - 1137)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="g1801-1900.htm">G 1801 - 1900 Дуврская кошка (AT 1161) </a> </li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>К. ДУХИ ЛЕСА </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="k1-100.htm">K 1 – 100 Дух леса: верования </a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="k101-200.htm">К 101 - 200 Лесная дева, лесная девушка<a/></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="k201-300.htm">К 201 - 300 Лесное укрытие, mets&auml;apeitto </a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>H. УМНОЖАТЕЛИ БЛАГОСОСТОЯНИЯ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="h1-100.htm">H 1 -100 "Хозяин", дух в качестве умножающего благосостояние</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="h101-300.htm">H 101 - 300 Пара (рага) приносящий молоко</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="h301-400.htm">H 301 - 400 Спиритус, деньговый черт </a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>L. ДУХИ ВОДЫ</span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l1-100.htm">L 001 - 200 Духи воды</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l201-300.htm">L 201 - 300 Русалка</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l301-400.htm">L 301 - 400 Водяные коровы</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l401-500.htm">L 401 - 500 "Час пробил, человек не идет"</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l501-600.htm">L 501 - 600 Озера не позволяют измерить свою глубину</a></li>
		<li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="l701-800.htm">L 601 - 700 Водоворот</a></li>

    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>M. ТРОЛЛИ. ПОДЗЕМНЫЕ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="m1-200.htm">M 001 - 200 Тролли</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="m201-300.htm">M 201 - 300 Дух горы</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="m301-400.htm">M 301 - 400 Подземные</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="m401-500.htm">M 401 - 500 Куфиттар, подземные [духи] лапландцев </a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="m501-600.htm">M 501 - 600 Пигмеи</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>N. ВЕЛИКАНЫ. ХИЙСИ. СЫНОВЫ КАЛЕВЫ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n1-200.htm">N 001 - 200 Странное местоположение камней, каменных глыб, каменных: осыпей</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n201-300.htm">N 201 - 300 Возникновение курганов, рифов, ям, канав</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n301-400.htm">N 301 - 400 Возникновение большой пустоши</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n401-600.htm">N 401 - 600 Строительство церкви</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n601-700.htm">N 601 - 700 Строительство замка</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n701-800.htm">N 701 - 800 Размеры великанов</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n801-900.htm">N 801 - 900 Бегство, исчезновение великанов</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n901-1000.htm">N 901 - 1000 Народные представления, связанные с гигантскими существами</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n1001-1100.htm">N 1001 - 1100 Неэтиологические рассказы</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="n1101-1200.htm">N 1101 - 1200 Следы, останки, вещи великанов</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>P. КЛАДЫ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p1-100.htm">P 001 - 100  Клады в народных верованиях</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p101-200.htm">P 101 - 200 Пламя, горящее там, где лежит зарытый клад</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p201-300.htm">P 201 - 300 Жертва, условие для получения клада</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p301-400.htm">P 301 - 400 Появление клада, духа клада</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p401-500.htm">Р 401 - 500 Тайком подслушивают жертвенные слова - клад открывается</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p501-600.htm">Р 501 - 600 Тайники кладов, находки кладов</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p601-700.htm">P 601- 700 Шелковый клад</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p701-800.htm">P 701 - 800 Затопленные церковные колокола</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="p801-900.htm">P 801 - 900 Затопленные медные, железные ворота</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>Q. ДЕМОНЫ БОЛЕЗНЕЙ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="q1-100.htm">Q 001 - 100 Малярия, чума, оспа</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="q101-200.htm">Q 101 - 200 Ночной демон, который заставляет плакать детей</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="q201-300.htm">Q 201 - 300 Кошмар, painajainen (Alpdruck)</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="q301-400.htm">Q 301 - 400 Кошмар, mаrа</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="q401-500.htm">Q 401 - 500 Демон-всадник</a></li>
    </ul>
</div>

<div class="box">
    <h3 style="text-align: left; margin-top:0; margin-bottom:0"><span>R.МИФИЧЕСКИЕ ЖИВОТНЫЕ </span></h3>
    <ul>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="r1-100.htm">R 001 - 100 Змеиный король, змея с короной</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="r101-200.htm">R 101-200 Змея-великан</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="r201-300.htm">R 201 - 300 Огненная лиса</a></li>
        <li> <p align="left" style="margin-top: 0; margin-bottom: 0"><a target="right" href="r301-400.htm">R 301 - 400 Ласточка</a></li>
<br>

<script>
$(document).ready(function(){
$("ul").hide();
$("h3 span").click(function(){
$(this).parent().next().slideToggle();
});
}); 
</script>
</body>
</html>



</body></html>