A {
	text-decoration : none;
	color:blue;
}
A:VISITED {
		text-decoration : none;
	color:blue;
}
body, p, span{
	font-family : Cambria;
	font-size : 16px;
}
h3,h4{
	text-align : center;
}
h3{
	font-size : 16px;
}
h4{
	font-size : 15px;
}
.kniga {margin-left:50px;}

.NormalLin {
	font-weight: bolder;
font-size : 16px;
}