.first td {
background: #ffffff;
border-radius: 43px; 
-moz-border-radius: 43px; 
-webkit-border-radius: 43px; 
border: 2px solid #000000;
padding: 4px;
}
.second td {
background: #ffffff;
border-radius: 43px; 
-moz-border-radius: 43px; 
-webkit-border-radius: 43px; 
border: 2px solid #0C2780;
padding: 4px;
}

table  {
background: #CBCC9F;
}

.third td {
background: #ffffff;
border-radius: 43px; 
-moz-border-radius: 43px; 
-webkit-border-radius: 43px; 
border: 2px solid #800000;
padding: 4px;
}

.second td.circle {
background: #CBCC9F;
border: none;
padding-left: 14px;
padding-right: 14px;
}

.third td.circle {
background: #CBCC9F;
border: none;
padding: 4px;
padding-left: 14px;
padding-right: 14px;
}
