A {
	text-decoration : none;
	color:blue;
}
A:VISITED {
		text-decoration : none;
	color:blue;
}
body, p, span{
	font-family : Arial;
	font-size : 12px;
}
h3,h4{
	text-align : center;
}
h3{
	font-size : 14px;
}
h4{
	font-size : 13px;
}
.kniga {margin-left:50px;}

.NormalLin {
	font-weight: bolder;
font-size : 14px;
}