/* Main Selectors */
body {
	background-color: #FFFFFF;
	color: #808080;
}

a, a:visited {
	background-color: transparent;
	color: #A6CAF0;
}

a:hover {
	background-color: transparent;
	color: #C0DCC0;
}

/* Header */
div#header h1 {
	font-family: tahoma, arial, helvetica, sans-serif;
	text-align: center;
	background-color: transparent;
	color: #808080;
}

/* Thumbnail Содержание */
div#index {
	margin: 1ex 0 1ex 0;
	text-align: center;
}

div#index table {
	text-align: center;
	margin: 0 auto 0 auto;
}

div#index td.thumbcell {
	width: 100px;
	border-style: solid;
	border-color: #D7D7D7;
	border-width: 1px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

div#index td.thumbcell img {
	border-style: none;
}

div#index div.pages {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.8em;
	text-align: right;
}

/* Photo Navigation */
div#navigation {
	text-align: center;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.8em;
	margin: 1ex 0 1ex 0;
}

div#navigation table {
	text-align: center;
	margin: 0 auto 0 auto;
}

div#navigation td.previous {
	text-align: left;
	width: 100px;
}

div#navigation td.index {
	text-align: center;
}

div#navigation td.next {
	text-align: right;
	width: 100px;
}

div#navigation td.thumbcell {
	width: 100px;
	border-style: solid;
	border-color: #D7D7D7;
	border-width: 1px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
}

div#navigation td.thumbcell img {
	border-style: none;
}

div#navigation td.selected {
	border-style: outset;
	border-width: 2px;
}

div#navigation span.home {
	display: block;
	padding-bottom: 1em;
}

/* Photograph */
div#photograph {
	text-align: center;
	margin: 1ex 0 1ex 0;
}

div#photograph img {
	margin: 0 auto 0 auto;
	border-style: solid;
	border-color: #808080;
	border-width: 1px;
}

/* Photograph Title */
h1.title {
	text-align: center;
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	margin: 0px;
}

/* Photograph Caption */
p.caption, p.description {
	font-family: tahoma, arial, helvetica, sans-serif;
	text-align: center;
	font-size: 0.8em;
	display: block;
	width: 640px;
	margin: auto;
}

/* Footnote */
p.footnote {
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 0.6em;
	text-align: right;
	padding: 0 2em 0 0;
}
