@charset "utf-8";

/* CSS Document */

* {
margin: 0;
}

html, body {
	height: 96%;
}

body {
	padding:20px 0 0 0;	/* Данные стили предназначены для оформления демонстрационной страницы */
	margin:auto;
	text-align:center;
}

.wrapper {
min-height: 100%;
}

.main {
overflow:auto;
padding-bottom: 40px;
}

.footer{

	position: relative;
	height: 40px;
	margin-top: -40px;
	clear:both;
	
	font-size: 10pt;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #666;
	text-align:center;

	width: 700px;
	padding:0px 0 7px 0;
	margin: auto;
	
	border-top-color: #666; /* Цвет линии сверху */
    border-top-style: double; /* Стиль линии сверху */
    border-top-width: 7px; /* Толщина линии сверху */
}

.menu {
	display:inline-block;
	font-variant: small-caps;	
	margin: 0px 0px 0px 0px;;
	padding: 0px 50px 50px 50px;

	/*border: solid;
	border-top: none;
	border-bottom: none;*/

	min-width: 800px;
	max-width: 800px;	
}

.menu a:link, .menu a:visited {
	text-decoration:none;
	height:3.5em;
	overflow:hidden;
	text-align:center;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
	font-weight:500;
	font-size:18px;
	color: #000;
}

.menu .span {
	height:1.5em;
	display:inline-block;
	padding:0 1em;
	position:relative;
	-webkit-transition: background-color 0.4s, margin-top 0.3s, font-weight 0.3s;  /* Saf3.2+, Chrome */
	-moz-transition: background-color 0.4s, margin-top 0.3s, font-weight 0.3s;  /* FF4+ */
	-ms-transition: background-color 0.4s, margin-top 0.3s, font-weight 0.3s;  /* IE10 */
	-o-transition: background-color 0.4s, margin-top 0.3s, font-weight 0.3s;  /* Opera 10.5+ */
	transition: background-color 0.4s, margin-top 0.3s, font-weight 0.3s;
}

.menu a:hover .span {
	-moz-box-shadow: 0 0 10px rgba(1,1,1,1); /* Для Firefox */
	-webkit-box-shadow: 0 0 10px rgba(1,1,1,1); /* Для Safari и Chrome */
	box-shadow: 0 0 10px rgba(1,1,1,1); /* Параметры тени */
	font-weight:500;
	height:1.5em;
	margin-top:0;
	background: #6CF;
}
body#home a#home:link .span, body#home a#home:visited .span, body#home a#home:hover .span,
body#bio a#bio:link .span, body#bio a#bio:visited .span, body#bio a#bio:hover .span,
body#publ a#publ:link .span, body#publ a#publ:visited .span, body#publ a#publ:hover .span,
body#photo a#photo:link .span, body#photo a#photo:visited .span, body#photo a#photo:hover .span
body#media a#media:link .span, body#media a#media:visited .span, body#media a#media:hover .span
body#mem a#mem:link .span, body#mem a#mem:visited .span, body#mem a#mem:hover .span{
	
	-moz-box-shadow: 0 0 0px rgba(0,0,0,0); /* Для Firefox */
	-webkit-box-shadow: 0 0 0px rgba(0,0,0,0); /* Для Safari и Chrome */
	color: #6d6d70;
	font-weight: normal;
	pointer-events: none;
	cursor: default;
	background:#FFF;
	text-shadow:none;
}

/* Headers */
.h1 {
	margin: auto;
	padding: 10px 50px 10px 50px;
	min-width: 670px;
	max-width: 670px;
	font-stretch: extra-expanded;
	font-size: 24pt;
	font-variant: small-caps;
	font-family: 'Monda', sans-serif;
	border: solid;
	border-width: medium;
	border-color: #666;
	text-shadow: 1px 1px 1px #666; /* Параметры тени */

	-moz-box-shadow: 0 0 1px rgba(0,0,0,1); /* Для Firefox */
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,1); /* Для Safari и Chrome */
	box-shadow: 0 0 1px rgba(0,0,0,1); /* Параметры тени */
	background:#8dc63f;
}
/* Text */
.t1 {
	margin: auto;
	padding: 0px 0px 0px 0px ;
	text-align: justify;
	text-indent: 40px;
	min-width: 700px;
	max-width: 700px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #404041;
}


.t2 {
	margin: auto;
	padding: 0px 0px 0px 0px ;
	text-align: justify;
	text-indent: 0px;
	min-width: 700px;
	max-width: 700px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #404041;
}

.t3 {
	margin: auto;
	padding: 0px 0px 0px 0px ;
	text-align: justify;
	text-indent: 0px;
	min-width: 600px;
	max-width: 600px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #404041;
}


.content_warp{
	min-width: 800px;
	max-width: 800px;
	margin: auto;
	}


.left_sidebar{
	float:left;
	margin: auto;
	padding: 0px 50px 30px 0px;
	~outline: 1px #096 solid;
	min-width: 200px;
	max-width: 200px;
}

.h3{
	padding: 5px 0px 5px 0px;
	text-align: left;
	border-top-color: #09F; /* Цвет линии сверху */
    border-top-style: outset; /* Стиль линии сверху */
    border-top-width: 2px; /* Толщина линии сверху */
	font-size:12px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}


.center{
	min-width: 800px;
	max-width: 800px;
	margin:auto;
	padding: 0px 0px 0px 170px;
	}

.column_l{
	float:left;
	min-width: 400px;
	max-width: 400px;
	}
	
.column_r{
	float:right;
	min-width: 400px;
	max-width: 400px;
	}

.gallery{
	text-align:left;
	~float: left;
	line-height: 1.5;
	padding: 20px 20px 0px 0px;
	font-size: 16px;
	min-width: 200px;
	max-width: 200px;
	
	min-height: 300px;
	max-heigth: 300px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.img1 {

	padding: 5px 5px 5px 5px ;
	margin: 5px 10px 10px 20px ;
}

