﻿BODY {
	background-color : White;
	margin-top : 0px;
	margin-left : 0px;
	
}

IMG {
	border : none;
}

.top{
	background-color :lightgrey;
	font-size : smaller;
	font-family : Arial;
	color : #00008B;
	text-align : center;
}
.ch{
	color : White;
}
.pers {
	color : #00008B;
	font-family : Arial;
	text-decoration : inherit;
	text-align : left;
}
 .thin{
	font-family : Arial;
	font-size : x-small;
}


a:link {
	text-decoration:none;
	color : #00008B;
	text-align : center;
}
a:visited {text-decoration:none; color:#00008B;}

a:hover {color:#CC3300}
H1, H2, H3, H4, H5, H6 {color:#00008B;}
.mainmenu {
	background-color: mintcream;
}

.mitem{
	font-weight : bold;
	font-family : Times New Roman;
	color : #00008B;
}

.leftmenu{
	background-color :mintcream;
	font-size : smaller;
	font-family : Arial;
	color : #00008B;
}
.lenta  {background-color:silver;font-weight:bold;font-family:Times New Roman;
	
}
.red{
	color: red;
font-size : smaller;
	font-family : Arial;
}
span.c12 {font-family: arial; font-size: smaller}
 div.c11 {font-family: arial; font-size: smaller; text-align: center}
 td.c10 {background-color:white}


 p.c7 {text-align: justify}
 span.c6 {color: #00008B; font-size: smaller}

 div.c4 {color: red; font-weight: bold; text-align: center}

 a.c2 {font-style: italic}

 .u{
	text-decoration : underline;
}
.center{
	text-align : center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;

}
.left td{
	width:120px;

}
ul .au  {
	text-decoration : underline;
	font-family : Arial;
	font-size: smaller;
	color : #00008B;
	font-weight : bolder;
}
.ar{
	font-family: Arial;
		font-size : smaller;
}
.b{
	font-weight : bold;
}
.just{
	text-align : justify;
}
.i {font-style: italic}
p {text-align : justify;}


.d5,.d2,.d3,.d4{
background: #ffffff;
border-radius: 43px; 

-moz-border-radius: 43px; 
-webkit-border-radius: 43px; 
border: 2px solid #800000;
padding: 10px;
}

.d6{
background: #ffffff;
border-radius: 43px; 
width:70%;
background:#FADADD;
-moz-border-radius: 43px; 
-webkit-border-radius: 43px; 
border: 2px solid #800000;
padding: 10px;
}

.d2{
background:#FADADD;
}
.d3{
background:#DABDAB;
}
.d4{
background:#F0DC82;
}
.d5{
background:#FFEFD5;
}
.mong  a
{
text-decoration:underline;
}
.mong  td
{
 vertical-align: top;
}